.favorite {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-light);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.favorite svg {
    width: 24px;
    height: 24px;
}