.title {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    flex: 0 0 auto !important;
    width: 200px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.details {
    color: #09f;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}